.teamCard {
    width:25%;
    padding: 20px;
    position: 1;
    
    
}

.teamCard__img {
    height: 50px;
}

.teamCard__body {
    text-align: center;
}

.teamCard__colOne {
    display: flex;
    width: 25%;
}

.teamCard__colTwo {
    display: flex;
}

.teamCard__card {
    position: relative;
}

.teamCard__button {
    border: none;
    background-color: khaki;
}

.teamCard > button > link {
    background-color: lawngreen;
}

.teamCard__operation {
    border: none;
    outline: none;
    ;
}

.teamCard__operation > button {
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.team__table {
    background-color: lawngreen;
}