.teamCard {
    width:25%;
    padding: 20px;
    position: 1;
    
    
}

.teamCard__img {
    height: 50px;
}

.teamCard__body {
    text-align: center;
}

.teamCard__colOne {
    display: flex;
    width: 25%;
}

.teamCard__colTwo {
    display: flex;
}

.teamCard__card {
    position: relative;
}
